<div class="col-md-4">
  <%= link_to image_tag(product.image_url, class: "img-responsive"), product_path(product.id) %>
  <h1><%= link_to product.name, product_path(product.id) %></h1>
  <p><%= product.description %></p>
  <p><%= product.colour %></p>
  <strong>$ <%= product.price %></strong>
  <p class="action-btns">
    <%= link_to 'Show', product, class: "btn btn-primary" %>
    <%= link_to 'Edit', edit_product_path(product), class: "btn btn-default" %>
    <%= link_to 'Destroy', product, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div><!-- /col -->

<!-- Check if the image exists, then either return  the image_url or return nothing (leaving the div empty).
<#% if product.image_url.present? %>
 <div class="true"><%#= image_tag(product.image_url, class: "img-responsive") %></div>
<#% else %>
 <div class="false"></div>
<#% end %> -->
