<div class="col-sm-2 col-md-4">
  <%= image_tag(product.image_url, class: "img-responsive") %>
  <a href="#"><h1><%= product.name %></h1></a>
  <p><%= product.description %></p>
  <p><%= product.colour %></p>
  <strong>$ <%= product.price %></strong>
  <p><%= link_to 'Show', product %> | <%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div><!-- /col -->

<!-- For the image_tag I would like to check with a if statement, whether the resource/image exists, then either return nothing (leaving the div empty) or return the image_url.
<#% if @checking_whether_image_exists %>
 <div class="true"><%#= image_tag(product.image_url, class: "img-responsive") %></div>
<#% else %>
 <div class="false"></div>
<#% end %> -->
