<p id="notice"><%= notice %></p>

<h1>Details</h1>

<div class="content col-md-8">

  <p>
    <%= image_tag(@product.image_url, class: "img-responsive") %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= @product.image_url %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>
    <strong>Average Rating:</strong>
    <div class="rated" data-score="<%= @product.average_rating %>"></div>
  </p>
  <!-- <p>
    <strong>Highest rating:</strong>
    <p><%#= @product.highest_rating_comment.rating %> star(s) - "<%#= @product.highest_rating_comment.body %>"</p>
  </p>

  <p>
    <strong>Lowest rating:</strong>
    <p><%#= @product.lowest_rating_comment.rating %> star(s) - "<%#= @product.lowest_rating_comment.body %>"</p>
  </p> -->

  <br>
  <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %>
  <%= link_to 'Back', products_path, class: "btn btn-default" %>

  <%= render 'new_comment' %>
  <br>

  <%= render 'comments' %>

</div> <!-- end content div -->
