<!DOCTYPE html>
<html>
  <head>
    <title>Hallelujah</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- This is embedded ruby and the = sign inserts the ruby output into the html file -->
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li role="presentation" class="active">
            <%= link_to "Home", simple_pages_index_path %>
          </li>
          <li role="presentation">
            <%= link_to "About", simple_pages_about_path %>
          </li>
          <li role="presentation">
            <%= link_to "Products", products_path %>
          </li>
          <li role="presentation">
            <%= link_to "Contact", simple_pages_contact_path %>
          </li>
          <li>
          <!-- Search form -->
          <%= form_with(url: products_path, method: 'get', local: true, class: "navbar-form") do |form| %>
          <%= form.text_field :q, id: 'q', value: params[:q], class: "form-control", placeholder: "Search" %>
          <%= form.submit 'Submit', class: "btn btn-default" %>
          <% end %>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li>
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          <% else %>
            <%= link_to('Login', new_user_session_path) %>
          <% end %>
          </li>
        </ul>
      </nav>

      <!-- alert alert-success -->
      <p class="notice"><%= notice %></p>
      <!-- alert alert-warning -->
      <p class="alert"><%= alert %></p>


      <%= yield %>

      <footer class="footer">
        <p class="copyright">&copy; 2018 Geek shirts</p>
      </footer>
    </div> <!-- end container -->
  </body>
</html>
