<!DOCTYPE html>
<html>
  <head>
    <title>Hallelujah</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- This is embedded ruby and the = sign inserts the ruby output into the html file -->
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <nav>
        <ul class="nav nav-pills">
          <li role="presentation" class="active">
            <%= link_to "Home", simple_pages_index_path %>
          </li>
          <li role="presentation">
            <%= link_to "About", simple_pages_about_path %>
          </li>
          <li role="presentation">
            <%= link_to "Products", products_path %>
          </li>
          <li role="presentation">
            <%= link_to "Contact", simple_pages_contact_path %>
          </li>
        </ul>

        <!-- Search form -->
        <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
          <%= form.label :q, 'Search for:' %>
          <%= form.text_field :q, id: 'q', value: params[:q] %>
          <%= form.submit 'Search' %>
        <% end %>
      </nav>

      <%= yield %>

      <footer class="footer">
        <p class="copyright">&copy; 2018 Geek shirts</p>
      </footer>
    </div> <!-- end container -->
  </body>
</html>
